.note-link-ready-container {
    padding: 2rem;
    text-align: center;
  }
  
  .note-link-ready-container h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .note-link-ready-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .note-link-box {
    background-color: #fdf6d8;
    padding: 1rem;
    border: 2px solid #f0e68c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: fit-content;
  }
  
  .note-link-box input {
    font-size: 1rem;
    padding: 5px;
    border: none;
    background-color: #fff;
    width: 400px;
  }
  
  .note-link-box button {
    background-color: #3b5998; /* Blue color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .note-link-box button:hover {
    background-color: #3b5998; /* Blue color */
  }
  
  .copy-link-btn {
    background-color: #3b5998; /* Blue background */
    color: white; /* White text */
    padding: 10px 15px; /* Add some padding */
    border: none; /* Remove any border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1rem; /* Adjust font size */
    margin-left: 10px; /* Space between the input field and the button */
}

.copy-link-btn:hover {
    background-color: #365492; /* Darker blue on hover */
}

  